{% import "macros.html" as macro -%}

{% if page.extra.image %}
{% set sns_image = get_url(path=page.colocated_path ~ page.extra.image) %}
{% set twitter_card = "summary_large_image" %}
{% set image_width = 1200 %}
{% else %}
{% set sns_image = get_url(path="images/default-og-image.webp") %}
{% set twitter_card = "summary" %}
{% set image_width = 630 %}
{% endif %}

{% if page.title %}
{% set title = page.title %}
{% else %}
{% set title = config.title %}
{% endif %}

{% if page.content %}
{% set description = page.content %}
{% else %}
{% set description = "閱讀心得與想法，沒有特定的閱讀主題，心理學、投資、哲學、歷史、生物都是有機會涉獵的領域，意旨在培養能了解世界的思維模型。" %}
{% endif %}
<!DOCTYPE html>
<html lang="zh-TW" itemscope itemtype="http://schema.org/Blog">

  <head>
    <title>{{ title }}</title>
    <meta name="description" itemprop="about"
      content="{{ description | striptags | linebreaksbr | spaceless | safe }}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description | striptags | spaceless | safe }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ sns_image }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="{{ image_width }}" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta name="twitter:card" content="{{ twitter_card }}" />
    <script src="{{ get_url(path="js/tablesort.min.js", cachebust=true) }}"></script>
    <link rel="icon" href="{{ get_url(path="images/favicon.ico", cachebust=true) }}" type="image/x-icon" />
    <link rel="stylesheet"
      href="{{ get_url(path="site/styles/site.css", trailing_slash=false, cachebust=true) | safe }}">
    <link rel="alternate" type="application/atom+xml" href="{{ config.base_url }}/atom.xml"
      title="{{ config.title }}" />
  </head>

  <body>
    <header>
      <nav class="navbar-top">
        <div>
          <a class="navbar-a" href="{{ config.base_url }}">
            <img src="{{ get_url(path="images/logo_630.webp", trailing_slash=false, cachebust=true) | safe}}" width="48"
              height="48" alt="Logo">
            <span class="navbar-name">針織拙見</span>
          </a>
        </div>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <div class="flex justify-between">
          <a class="navbar-a" href="/reading-notes/">閱讀筆記</a>
          <a class="navbar-a" href="/blog/">雜記</a>
          <a class="navbar-a" href="/wisdom/">他人的智慧</a>
          <a class="navbar-a" href="/about/">關於</a>
        </div>
      </nav>
    </header>
    <main id="root" class="body-zone flex juistify-between flex-1">
      <section class="main flex-1 py">
        {% block content %}
        {% endblock content %}
      </section>
      <aside class="sidebar">
        {% block additional_aside %}
        {% endblock additional_aside %}
        <div class="sidebar-element">
          <h2>最新閱讀筆記</h2>
          <ul>
            {% set blog_section = get_section(path="reading-notes/_index.md") -%}
            {% for page in blog_section.pages | slice(begin=0,end=3)  %}
            <li>
              <a class="no-underline">
                <a class="no-underline" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                <span class="muted text-sm">{{ page.date }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-element">
          <h2>最新其他文章</h2>
          <ul>
            {% set blog_section = get_section(path="blog/_index.md") -%}
            {% for page in blog_section.pages | slice(begin=0,end=7)  %}
            <li>
              <a class="no-underline">
                <a class="no-underline" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                <span class="muted text-sm">{{ page.date }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar-element">
          <h2>依分類</h2>
          <ul>
            {% set categories_taxonomy = get_taxonomy(kind="categories") %}
            {% for cat in categories_taxonomy.items %}
            {% set url = get_taxonomy_url(kind="categories", name=cat.name) %}
            <li>
              <a class="no-underline" href="{{ url }}">{{ cat.name }} ({{ cat.pages | length }})</a>
            </li>
            {% endfor %}
          </ul>
          <!-- <h2>依標籤</h2>
          <ul>
            {% set tags_taxonomy = get_taxonomy(kind="tags") %}
            {% for cat in tags_taxonomy.items %}
            {% set url = get_taxonomy_url(kind="tags", name=cat.name) %}
            <li>
              <a class="no-underline" href="{{ url }}">{{ cat.name }} ({{ cat.pages | length }})</a>
            </li>
            {% endfor %}
          </ul> -->
        </div>
      </aside>
    </main>
    <footer>
    </footer>
    {% block script %}
    {% endblock script %}
  </body>

</html>
