<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
</head>

  <body>
    <section id="root">
        {% for t in config.taxonomies %}
          <ul>
              {% set taxonomy = get_taxonomy(kind=t.name) %}
              <li>{{taxonomy.kind.name}} ({{ taxonomy.items | length }})</li>
              <ul>
              {% for item in taxonomy.items %}
                  {% set url = get_taxonomy_url(kind=taxonomy.kind.name, name=item.name) %}
                  <li><a href="{{url}}">{{ item.name }}</a> ({{ item.pages | length }})</li>
                  <ul>
                      {% for p in item.pages %}
                          <li><a href="{{p.permalink}}">{{p.title}}</a></li>
                      {% endfor %}
                  </ul>
              {% endfor %}
              </ul>
          </ul>
        {% endfor %}
    </section>
    <section class="section">
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    </section>
  </body>

</html>