{% macro post_max(page) %}
<article>
    <h1><a class="no-underline " href="{{ page.permalink }}">{{ page.title }}</a></h1>
    <section class="muted">
        發表時間：<time pubdate>{{ page.date | date(format="%Y-%m-%d") }}</time>
        {% if page.updated %}
        <span>｜ 最後更新時間：<time updatedate>{{ page.updated | date(format="%Y-%m-%d") }}</time></span>
        {% endif %}
        {% if page.taxonomies.categories %}
        <span>｜&emsp;分類：</span>
        <a class="no-underline" href="{{ get_taxonomy_url(kind="categories", name=page.taxonomies.categories[0]) }}">
            {{ page.taxonomies.categories[0] }}
        </a>
        {% endif %}
    </section>
    {% if page.summary -%}
    <section>{{ page.summary | safe }}</section>
    {% elif page.description -%}
    <p>{{ page.description }}</p>
    {% endif -%}
    <section class="muted">
        <a class="text text-color" href="{{ page.permalink }}#continue-reading">繼續閱讀全文 ➞</a>
    </section>
    {% if page.taxonomies.tags %}
    <p>
        {% for tag in page.taxonomies.tags %}
        <a class="muted text-sm no-underline" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
        {% if page.taxonomies.tags | length > 1 %}
        {% if loop.index != page.taxonomies.tags | length %}&nbsp;{% endif %}
        {% endif %}
        {% endfor %}
    </p>
    {% endif %}
    <hr>
</article>
{% endmacro post_max %}

{% macro post_link(page, view_counts) %}
<p>
    <a class="no-underline" href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% if view_counts[page.path] %}
    <span class="view-count">({{ view_counts[page.path] }})</span>
    {% endif %}
    {% if page.update %}
    <span class="muted text-sm">{{ page.updated }}</span>
    {% else %}
    <span class="muted text-sm">{{ page.date }}</span>
    {% endif %}
</p>
{% endmacro post_link %}

{% macro card(nn_page) %}
{% if nn_page.extra.image %}
{% set image = config.base_url ~ nn_page.path ~ nn_page.extra.image %}
{% else %}
{% set image = get_url(path="images/default-og-image.webp") %}
{% endif %}
{% set ancestors = nn_page.ancestors %}
{% set breadcrumb = "" %}
{% for ancestor in ancestors %}
{% set nn_section = get_section(path=ancestor) %}
{% if loop.first %}
{% set_global breadcrumb = '<a href="' ~ nn_section.permalink ~ '">' ~ nn_section.title ~ '</a>' %}
{% else %}
{% set_global breadcrumb = breadcrumb ~ ' > ' ~ '<a href="' ~ nn_section.permalink ~ '">' ~ nn_section.title ~ '</a>' %}
{% endif %}
{% endfor %}
<div class="recommended-article">
    <div class="article-image">
        <img src="{{ image }}">
    </div>
    <div class="article-info">
        <div class="article-meta">
            <span class="article-category">{{ breadcrumb | safe }}</span>
            <span class="article-date">{{ nn_page.date }}</span>
        </div>
        <h3 class="article-title">
            <a href="{{ nn_page.permalink }}">{{ nn_page.title }}</a>
        </h3>
    </div>
</div>
{% endmacro card %}
