{% extends "base.html" %}

{% block content %}
<article>
  <div>
    <h1>{{ page.title }}</h1>
    <div class="muted">
      發表時間：<time pubdate>{{ page.date | date(format="%Y-%m-%d") }}</time>
      {% if page.updated %}
      <span>｜ 最後更新時間：<time updatedate>{{ page.updated | date(format="%Y-%m-%d") }}</time></span>
      {% endif %}
      {% if page.taxonomies.categories %}
      <span>｜&emsp;分類：</span>
      <a class="no-underline" href="{{ get_taxonomy_url(kind="categories", name=page.taxonomies.categories[0]) }}">
        {{ page.taxonomies.categories[0] }}
      </a>
      <span>｜&emsp;字數：{{ page.word_count }}</span>
      <span>｜&emsp;閱讀時間：{{ page.word_count/500 | round }}分鐘</span>
      {% endif %}
    </div>
  </div>
  {{ page.content | safe }}
  {% if page.taxonomies.tags %}
  <p>
    {% for tag in page.taxonomies.tags %}
    <a class="muted text-sm no-underline" href="{{ get_taxonomy_url(kind="tags",lang=lang, name=tag) }}">#{{ tag }}</a>
    {% if page.taxonomies.tags | length > 1 %}
    {% if loop.index != page.taxonomies.tags | length %}
    &nbsp;
    {% endif %}
    {% endif %}
    {% endfor %}
  </p>
  {% endif %}
  {% if page.backlinks %}
  <div>
    <h1>{{ page.backlinks | length }} Linked References</h1>
    <ul class="root-ul">
      {% for backlink in page.backlinks %}
      {% if backlink.permalink != page.permalink %}
      <li>
        <a class="no-underline" href="{{ backlink.permalink }}">{{ backlink.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <br>
</article>
<script src="https://utteranc.es/client.js" repo="mickm3n/blog-comment" issue-term="pathname" theme="github-light"
  crossorigin="anonymous" async></script>
{% endblock content %}
{% block additional_aside %}
{% if page.toc %}
<div class="sidebar-element">
  <h2>大綱</h2>
  <section class="sidebar-table-content">
    <ul>
      {% for h1 in page.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
          <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endif %}
{% endblock additional_aside %}
