{% extends "base.html" %}

{% block content %}
{% set view_counts = load_data(path="static/data/view_counts.json") %}
<article class="main-inner">
  {{ section.content | safe}}
</article>
<div class="sort-buttons">
  <label for="sort-select">排序根據：</label>
  <select id="sort-select">
    <option value="date" selected>日期</option>
    <option value="rank">評分</option>
  </select>
</div>
<table class="reading-notes-table">
  <thead>
    <tr>
      <th>書名</th>
      <th>心得發布日期</th>
      <th>評分</th>
    </tr>
  </thead>
  <tbody>
    {% for book in section.pages %}
    <tr>
      <td>
        <a class="no-underline" href="{{ book.permalink | safe }}">{{ book.title }}</a>
        {% if view_counts[book.path] %}
        <span class="view-count">({{ view_counts[book.path] }})</span>
        {% endif %}
      </td>
      <td>{{ book.date | date(format="%Y-%m-%d") }}</td>
      <td>{{ book.extra.rating }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const table = document.getElementById('reading-notes-table');
    const tbody = table.getElementsByTagName('tbody')[0];
    const rows = tbody.getElementsByTagName('tr');
    const sortSelect = document.getElementById('sort-select');

    sortSelect.addEventListener('change', function () {
      const selectedValue = sortSelect.value;
      if (selectedValue === 'date') {
        sortTableByColumn(rows, 1, 'date');
      } else if (selectedValue === 'rank') {
        sortTableByColumn(rows, 2, 'rank');
      }
    });

    function sortTableByColumn(rows, column, type) {
      const sortedRows = Array.from(rows);

      sortedRows.sort(function (a, b) {
        const aVal = a.getElementsByTagName('td')[column].textContent;
        const bVal = b.getElementsByTagName('td')[column].textContent;

        if (type === 'date') {
          return new Date(bVal) - new Date(aVal);
        } else if (type === 'rank') {
          return parseFloat(bVal) - parseFloat(aVal);
        }
      });

      for (let i = 0; i < sortedRows.length; i++) {
        tbody.appendChild(sortedRows[i]);
      }
    }

    // Sort by date by default
    sortTableByColumn(rows, 1, 'date');
  });
</script>
{% endblock script %}
